@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
.content-eslogan {
    margin-top: -1px;
    width: 100vw;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    background: #0e1f12;
    padding: 80px;
    border: none;
}

.logo-eslogan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.text-eslogan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content-eslogan img {
    width: 130px;
}

.content-eslogan h1 {
    color: white;
    font-size: 43px;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}

@media (max-width:960px) {
    .content-eslogan {
        margin-top: 0px;
        flex-flow: column nowrap;
        padding: 60px;
    }
    .logo-eslogan {
        width: 100%;
    }
    .text-eslogan {
        width: 100%;
    }
    .content-eslogan img {
        margin-bottom:20px;
    }
    .content-eslogan h1 {
        text-align:center;
    }
}