@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');

.content-eslogan {
    margin-top: -1px;
    width: 100vw;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    background-image:url('../../imagenes/a19.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    border: none;
}

.logo-eslogan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding:25px;
}

.text-eslogan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 50%;
}

.text-eslogan > h3 {
    margin-top:10px;
   font-size:19px;
   text-align: justify;
}

.content-eslogan img {
    width: 130px;
}

.content-eslogan h1 {
    color: white;
    font-size: 43px;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}

@media (max-width:960px) {
    .content-eslogan {
        margin-top: 0px;
        flex-flow: column nowrap;
        padding: 25px;
    }

    .logo-eslogan {
        width: 100%;
        padding:0px;
        margin-top: -26px;
    }

  

    .logo-eslogan iframe{
        width: 100vw;
    }

    .text-eslogan {
        width: 100%;
        padding-top: 40px;
    }
    .content-eslogan img {
        margin-bottom:20px;
    }
    .content-eslogan h1 {
        text-align:center;
    }

    .content-eslogan h3 {
        font-weight:normal;
        font-size:20px;
        text-align: justify;
    }
}

@media (max-width:550px){
    .text-eslogan{
        width: 100%;
    }

   
}